{% extends 'base.html' %}

{% block content %}

<table class="table table-responsive">
	<thead>
		<tr>
			<th>
				NAME
			</th>
			<th>
				PRICE
			</th>
			<th>
				WEIGHT
			</th>
			<th>
				BATCH_NO
			</th>
			<th>
				QUANTITY
			</th>
		</tr>
	</thead>
	<tbody>
	{% for product in item.all %}
		<tr>
			<td>
			{{ product.name }}
				
			</td>
			<td>
			{{ product.price }}
				
			</td>
			<td>
			{{ product.weight }}
				
			</td>
			<td>
			{{ product.batch_no }}
				
			</td>
			<td>
			{{ product.quantity }}
				
			</td>
			{% if request.user.is_superuser %}
			<td>
				<a href="{% url 'edit_item' product.id %}" class="btn btn-sm btn-success">Edit Item</a>
				
			</td>
			<td>
				<a href="{% url 'add_quantity' product.id %}" class="btn btn-sm btn-success">Add Quantity</a>
				
			</td>
			<td>
				<a href="{% url 'delete_item' product.id %}" class="btn btn-sm btn-danger">Remove Item</a>
			</td>

			{% endif %}
	{% endfor %}

		</tr>
		
	</tbody>
</table>
{% endblock %}

